<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="icon" href="../IMG/logo.png">
    <link rel="stylesheet" href="../CSS/style.css">
</head>

<body>
    <div class="container">
     <nav>
        <a href="./conoceme.html"></a>
        <a href="./formacion.html"></a>
        <a href="./index.html"></a>
        <a href="./galeria.html"></a>
        <a href="./idiomas.html"></a>
        <a href="./informacion.html"></a>
        <a href="./contacto.html"></a>
     </nav>

     <header>
        <h1>Elena Mena Romero</h1>
        <h2>Desarrolladora web</h2>
        <nav>
            <ul>
                <li><a href="conoceme.html">Conóceme</a></li>
                <li><a href="formacion.html">Formación</a></li>
                <li><a href="index.html">Habilidades</a></li>
                <li><a href="galeria.html">Galería</a></li>
                <li><a href="idiomas.html">Idiomas</a></li>
                <li><a href="informacion.html">Información</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
     </header>

     <main>
        <section id="Conoceme">
            <h2>Conóceme</h2>
            <p>
                Soy Elena, una chica de Sevilla de 19 años que estudia informática y se quiere dedicar a ella, más concretamente a la creación de páginas web.
            </p>

            <br>

            <p>
                He estudiado el bachillerato de sociales en el instituo Miguel Servet de Sevilla, tengo el B2 de inglés y actualmente 
                estoy estudiando un grado superior de informática (desarrollo de aplicaciones web) en Ilerna Sevilla.
            </p>

            <br>

            <p>
                En cuanto a mis aficiones, me gusta mucho escuchar música, salir con mis amigos y estar con mi familia. También me gusta 
                jugar al voley y la natación. El lugar en el que más me gusta estar, sin duda, es en Sánlucar de Barrameda.
            </p>
            
            <div class="carrusel-container2">
                <section class="carrusel2">
                  <img id="fotoPerfil" src="../IMG/foto_cara_curriculum.jpg">
                  <img id="fotoPerfil" src="../IMG/fotoPerfil.jpeg">
                  <img id="fotoNatacion" src="../IMG/foto_natacion.jpeg">
                  <img id="fotoVoley" src="../IMG/foto_voley.jpeg">
                  <img id="fotoSanlucar1" src="../IMG/foto_sanlucar1.jpeg">
                  <img id="fotoSanlucar2" src="../IMG/foto_sanlucar2.jpeg">
                  <img id="fotoMusica1" src="../IMG/foto_musica1.jpeg">
                  <img id="fotoMusica2" src="../IMG/foto_musica2.jpeg">



                  <img id="fotoPerfil" src="../IMG/foto_cara_curriculum.jpg">
                  <img id="fotoPerfil" src="../IMG/fotoPerfil.jpeg">
                  <img id="fotoNatacion" src="../IMG/foto_natacion.jpeg">
                  <img id="fotoVoley" src="../IMG/foto_voley.jpeg">
                  <img id="fotoSanlucar1" src="../IMG/foto_sanlucar1.jpeg">
                  <img id="fotoSanlucar2" src="../IMG/foto_sanlucar2.jpeg">
                  <img id="fotoMusica1" src="../IMG/foto_musica1.jpeg">
                  <img id="fotoMusica2" src="../IMG/foto_musica2.jpeg">
                </section>
            </div>
        </section> 
     </main>
    </div>
</body>
</html>


