<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="icon" href="../IMG/logo.png">
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
    <div class="container">
     <nav>
        <a href="./conoceme.html"></a>
        <a href="./formacion.html"></a>
        <a href="./index.html"></a>
        <a href="./galeria.html"></a>
        <a href="./idiomas.html"></a>
        <a href="./informacion.html"></a>
        <a href="./contacto.html"></a>
     </nav>

     <header>
        <h1>Elena Mena Romero</h1>
        <h2>Desarrolladora web</h2>
        <nav>
            <ul>
                <li><a href="conoceme.html">Conóceme</a></li>
                <li><a href="formacion.html">Formación</a></li>
                <li><a href="index.html">Habilidades</a></li>
                <li><a href="galeria.html">Galería</a></li>
                <li><a href="idiomas.html">Idiomas</a></li>
                <li><a href="informacion.html">Información</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
     </header>
     <main>
        <section id="Información">
            <h2>Información</h2>
            <ul>
                <li>Disponibilidad para viajar</li>
                <li>No coche propio</li>
                <li>Carnet de conducir(B1)</li>
            </ul>
        </section>
     </main>
    </div>
</body>
</html>


